# site properties and page defaults
title: Research Portfolio for Michael A. David, PhD
subtitle: Orthopedics • Machine Learning • Biomedical Imaging • Multimodal Analytics • Scientific Art
description:   
header: images/background.jpg
footer: images/background.jpg
proofer: false

# site social media and other links
links:
  email: michael.david@cuanschutz.edu
  orcid: 0009-0006-5637-2403
  google-scholar: o7mhIiEAAAAJ
  github: madavid128
  pubmed: "https://www.ncbi.nlm.nih.gov/myncbi/1Feoil52XxqgFN/bibliography/public/"
  url: "https://madavid128.github.io"
  baseurl: "/madavid-research"   # "" if using a custom domain or user site
    
### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
