<figure class="figure">
  {% assign image = include.image | default: "" %}
  {% assign webp = nil %}
  {% if image contains ".jpg" or image contains ".jpeg" or image contains ".png" %}
    {% assign webp_candidate = image
      | replace: ".jpeg", ".webp"
      | replace: ".jpg", ".webp"
      | replace: ".png", ".webp"
    %}
    {% assign webp_rel = webp_candidate | remove_first: "/" %}
    {% assign webp = webp_rel | file_exists %}
  {% endif %}
  <a
    {% if include.link %}
      href="{{ include.link | relative_url | uri_escape }}"
    {% endif %}
    class="figure-image"
    aria-label="{{ include.caption | default: "figure link" | regex_strip }}"
  >
    {% if webp %}
      <picture>
        <source srcset="{{ webp | relative_url | uri_escape }}" type="image/webp">
        <img
          src="{{ image | relative_url | uri_escape }}"
          style="
            width: {{ include.width | default: "auto" }};
            max-height: {{ include.height | default: "unset" }};
          "
          alt="{{ include.caption | default: "figure image" | regex_strip }}"
          loading="lazy"
          {% include fallback.html %}
        >
      </picture>
    {% else %}
      <img
        src="{{ image | relative_url | uri_escape }}"
        style="
          width: {{ include.width | default: "auto" }};
          max-height: {{ include.height | default: "unset" }};
        "
        alt="{{ include.caption | default: "figure image" | regex_strip }}"
        loading="lazy"
        {% include fallback.html %}
      >
    {% endif %}
  </a>
  {% if include.caption %}
    <figcaption class="figure-caption">
      {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
    </figcaption>
  {% endif %}
</figure>
