{% assign emptyarray = "" | split: "," %}
{% assign items = site.data[include.data]
  | default: emptyarray
  | data_filter: include.filter
%}

{% assign items = items | sort: "date" | reverse %}

{% if include.limit %}
  {% assign items = items | slice: 0, include.limit %}
{% endif %}

<ul class="news-list">
  {% for item in items %}
    {%
      include news-item.html
      date=item.date
      title=item.title
      source=item.source
      link=item.link
      description=item.description
      tags=item.tags
    %}
  {% endfor %}
</ul>

